html {
  -webkit-text-size-adjust: 100%;
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  tab-size: 4;
  scroll-behavior: smooth;
}
body {
  line-height: inherit;
  margin: 0;
  background-color: var(--snow-colors-neutral-0);
}

.container {
  padding: 8px;
}
